.fooddetails{
    box-shadow: rgba(0, 0, 0, 0.34) 0px 6px 10px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}
.foodimage{
    width: 700px;
    border-radius: 10px;
}
.details{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin: 5px 0;
}
.price{
    font-size: 20px;
    margin: 5px 0;
    text-align: left;
}

.ingredients{
    display: flex;
    justify-content: space-around;
    width: 390px;
    margin: 30px auto;
    height: 160px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    align-items: center;
    border-radius: 10px;
}
.itemImage{
    width: 90px;
    margin: 5px;
}
.instructions{
    text-align: left;
    line-height: 25px;
    font: 19px;
}