.itemCards{
    box-shadow: 0 10px 15px rgba(0, 0,0,0.7);
    margin: 25px 10px;
    width: 300px;
    height: 350px;
    text-align: center;
    border-radius: 20px;
}
.image{
    width: 300px;
    border-radius: 12px 12px 0 0;

}
.title{
    font-size: 18px;
    color: grey;
}
.itembutton{
    
    padding: 3px 10px;
    color: white;
    background-color: rgb(20, 20, 20);
    border-radius: 5px;
}