h2{
    font-size: 23px;
    border-bottom: 1px solid black;
    text-align: center;
    width: fit-content;
    
}
h3{
    font-size: 16px;
 
}
input{
    font-size: 20px;
    margin: 20px 370px;
    text-align: center;
}
.item{
    border: 1px solid black;
    width:460px;
    margin: 20px ;
    padding: 20px;
    
    
}

